# Redpitaya image
red_pitaya_uncompressed.bit.bin

# Files to store registers and voltage data
*.json.tmp
registers_data.txt
voltage_data.json

# Bias values file
bias_values.tsv

# pycache folder
__pycache__/
